*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: auto auto 100px 100px; 
    /* grid-column: 1fr 5fr; */
    grid-template-areas: 
    "header main main main"
    "header main main main"
    "header article article article"
    "footer footer footer footer";
}

.item1{
    grid-area: header;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}

.item1 img{
    margin: 0 auto;
    /* padding: 20px;  */
    padding-top: 20px;
    padding-right: 30px;
}

.item1 nav {
    margin-top: 20px;
    align-self: center;
   color: rgb(51, 211, 158);
   
}

.item1 ul {
    list-style: none;
    padding: 0;
    
}

.item1 li {
    margin-bottom: 20px;
}

.item2{
    grid-area: main;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.item2 img {
        margin: 0 auto;
        /* padding: 20px;  */
        padding-top: 20px;
        /* display: grid; */
        max-width: 1200px;
        max-height: 400px;
        aspect-ratio: 2/1;
        width: 100%;
        height: 100%;
        transition: scale 400ms;
        /* gap: 3rem; */
        /* grid-template-columns: repeat(auto-fit, minmax(min(300px,100%), 1fr)); */

}

.item2:hover img{
    scale: 120%;
}

.item3{
    grid-area: article;
    /* background-color: aqua; */
    display: flex;
    
}

.item3 div{
    flex-grow: 12;
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
}

.item3 h3{
    margin: 0;
}

.item3 .TasteMakers {
    background-color: rgb(133, 255, 214);
    flex-grow: 3;
}

.item3 .Blog{
    background-color: rgb(190, 248, 229);
    flex-grow: 3;
}

.item3 .Alist {
    background-color: rgb(215, 255, 242);
    flex-grow: 3;
}

.item3 .Contribute{
    background-color: rgb(238, 255, 249);
    flex-grow: 3;
}

.item4{
    grid-area: footer;
    background-color: brown;
}