@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root {
    --primary: #DD946F ;
    --secondary: #261E5A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}

body {
    background-color: var(--secondary);
}

.background {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
    background-image: linear-gradient(45deg,rgb(245, 228, 76),rgb(123, 170, 233), rgb(116, 81, 214));
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    max-width: 1200px;
}

header .logo{
    width: 20%;
    height: 15vh;
    color: white;
    text-align: center;
}

header .menu{
    width: 80%;
    height: 15vh;
    color: white;
}

header .menu ul{
    width: 60%;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 15px;
    list-style: none;
    font-size: 20px;
    text-align: center;
}

header .menu li a{
    text-decoration: none;
    color: #f9f7f6;
}

header .menu li a:hover{
    
    display: block;
    border: 1px solid white;
    border-radius: 18px;
}

footer{
    width: 100%;
    height: 15vh;
    max-width: 1200px;
    display: flex;
    
}

footer .subscribe{
    width: 50%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

footer .form-box{
    padding: 10px;
    border-radius: 5px;
    background: #ececec;
}

footer .form-box input{
    font-size: 18px;
    color: #000;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #ececec;
}

.form-box button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #4769d8;
    cursor: pointer;
    transition: .3s;
}

.form-box button:hover{
   background: #2e54d3; 
}

footer .socialmedia{
    width: 50%;
    height: 15vh;
    padding: 30px;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

footer .socialmedia .fa-whatsapp:hover{
    font-size: 43px;
    color: #1e5a39;
}

footer .socialmedia .fa-instagram:hover{
    font-size: 43px;
    color: #15008a;
}

footer .socialmedia .fa-youtube:hover{
    font-size: 43px;
    color: #c93939;
}
 
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 24px;
}
 
.articles article {
    max-width: 320px;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
}

.articles article a {
    display: inline-flex;
    color: var(--primary);
    text-decoration: none;
}


.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: var(--secondary);
    transition: color 0.3s ease-out;
}
  
  
.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  
.article-preview {
    padding: 24px;
    background: white;
}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.5); 
}


.gallery {
    background-color: #f9f7f6;
    grid-column: full-start / full-end;
    display: grid;
    /*grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(7, 5vw);*/
    grid-template: repeat(7, 5vw)/repeat(8, 1fr);
    grid-gap: 1rem;
    padding: 1.5rem; 
    max-width: 1150px;
    margin-top: 50px;
    margin-left: 35px;}

    .gallery__item--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2; }
    .gallery__item--2 {
      grid-row: 1 / span 3;
      grid-column: 3 / span 3; }
    .gallery__item--3 {
      grid-row: 1 / span 2;
      grid-column: 6 / 7; }
    .gallery__item--4 {
      grid-row: 1 / span 2;
      grid-column: 7 / -1; }
    .gallery__item--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2; }
    .gallery__item--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2; }
    .gallery__item--7 {
      grid-row: 4 / 5;
      grid-column: 5 / 6; }
    .gallery__item--8 {
      grid-row: 3 / span 2;
      grid-column: 6 / span 2; }
    .gallery__item--9 {
      grid-row: 3 / span 3;
      grid-column: 8 / -1; }
    .gallery__item--10 {
      grid-row: 6 / span 2;
      grid-column: 1 / 2; }
    .gallery__item--11 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 2; }
    .gallery__item--12 {
      grid-row: 6 / span 2;
      grid-column: 4 / 5; }
    .gallery__item--13 {
      grid-row: 5 / span 3;
      grid-column: 5 / span 3; }
    .gallery__item--14 {
      grid-row: 6 / span 2;
      grid-column: 8 / -1; }
    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }