*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.layout{
    display: flex;
    flex-direction: column;
}

.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('../img/hero.jpg');
    background-size: cover;
    min-height: 100px;
    height: 15vh;
    color: #fff;
}

.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 2.5rem;
    z-index: 1;
}

.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 40px;
}

.nav__links{
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;

    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;

    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width:768px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
    }
}

main{
    background-color: burlywood;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* main .one{
    width: 100%;
    height: 70%;
    background-color: rosybrown;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px,100%), 1fr));
    gap: 10px;
}

main .one .item{
    background-color: orange;
    
}

main .one .item3{
    grid-row: 1/ span 2;
    grid-column: 3;
} */


article .grid{
    margin: 0 auto;
    padding: 20px;
    display: grid;
    height: 50%;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(min(350px,70%), 1fr));
}

article .galery{
    width: 100%;
    aspect-ratio: 2/1;
    background-color: tomato;
    object-fit: cover;
    /* grid-row: 1/ span 2;
    grid-column: 3; */
}

main .two{
    width: 100%;
    height: 30%;
    background-color: rgb(199, 90, 90);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

main .two .item{
    background-color: rgb(34, 13, 13);
}

footer{
    background-color: rgb(153, 87, 153);
    height:15vh;
    width: 100%;
    display: flex;
    padding: 10px;
}

footer .subscribe{
    background-color: beige;
    height:10vh;
    width: 100%;
}

footer .socialmedia{
    background-color: rgb(165, 103, 103);
    height:10vh;
    width: 100%;
}

